.idea
.htaccess
*/.DS_Store
.DS_Store
.env

vendor

.vs/
.vscode
.editorconfig

.stylelintrc.json
.stylelintignore

php_errors.log
composer.phar

404.html
index.html

config/.config.php
config/.config.php.bak
config/appprofile.php

public/clients/*.*
!public/clients/.gitkeep

storage/framework/smarty/cache/*
storage/framework/smarty/compile/*
storage/framework/views/*
storage/*.*
!storage/framework/smarty/cache/.gitkeep
!storage/framework/smarty/compile/.gitkeep
!storage/framework/views/.gitkeep

.user.ini
public/.user.ini

.envrc.local
.envrc
flake.lock
flake.nix
.direnv/

node_modules
package.json
package-lock.json

*.cache

