.idea
.vs/
.htaccess
*/.DS_Store
.DS_Store
composer.lock
.php_cs.cache
.env
vendor

php_errors.log
composer.phar

404.html
index.html

config/.config.php
config/.config.php.bak

public/ssr-download/
public/images/*.*
public/theme/material/css/images/bg

storage/framework/smarty/cache/*
storage/framework/smarty/compile/*
storage/framework/views/*
storage/*.*
/storage/traffic_notified/
!storage/framework/smarty/cache/.gitkeep
!storage/framework/smarty/compile/.gitkeep
!storage/framework/views/.gitkeep

.user.ini
public/.user.ini

resources/views/material/analytics.tpl

test/tpl_files.txt