*/.DS_Store
.DS_Store
vendor
config/.config.php
config/.config.php.bak
404.html
index.html
public/ssr-download/
public/images/*.*
public/theme/material/css/images/bg
storage/*
.idea
.vs/
.htaccess
php_errors.log
composer.lock
.env
composer.phar
.user.ini
public/.user.ini
resources/views/material/analytics.tpl