language: php
php:
  - 7.1
sudo: enabled
dist: xenial
before_install:
  - echo "==========================================================="
  - echo "Upgrade linux packages"
  - echo "==========================================================="
  - sudo sed -i 's|http://us-east-1.ec2.archive.ubuntu.com|https://ubuntu.mirror.noc.one|g' /etc/apt/sources.list
  - sudo sed -i 's|http://security.ubuntu.com|https://ubuntu.mirror.noc.one|g' /etc/apt/sources.list
  - sudo sed -i 's|http://us-central1.gce.archive.ubuntu.com|https://ubuntu.mirror.noc.one|g' /etc/apt/sources.list
  - sudo sed -i 's|http://ppa.launchpad.net|https://launchpad.proxy.noc.one|g' /etc/apt/sources.list.d/*.list
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - sudo apt clean all && sudo apt -qq -y update
  - sudo apt install -y nodejs
install:
  - sudo chmod -R 755 *
  - php composer.phar install
  - cd uim-index-dev
  - npm i
before_script:
  - npm i -g phplint
  - cd ..
script:
  - cp config/.config.example.php config/.config.php
  - phplint '**/*.php' '!vendor/**'
  - php xcat initdownload
  - php xcat initQQWry
  - php xcat update
  - cd uim-index-dev
  - npm run lint
  - npm run build
cache:
  directories:
    - uim-index-dev/node_modules
    - $HOME/.composer/cache/files
