@import url(https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css);

body {
    background-color: #1D1D1D;
    color: white;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

[v-cloak] {
    display: none;
}

.nav,
.main,
.footer {
    flex-basis: 100%;
}

.loading {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 4rem;
}

.button-round.active {
    opacity: 1;
}

.logo-sm,
.auth-sm {
    padding: 1rem 1rem;
}

.auth-sm {
    text-align: right;
    justify-content: flex-end;
}

.auth-sm a {
    min-width: 80px;
}

.logo-sm .logo {
    height: 48px;
}

.logo {
    border-radius: 50%;
}

.logo-sm>a {
    align-items: center;
}

.logo-sm .logo {
    margin-right: .5rem;
}

.logo-bg .logo {
    height: 160px;
    display: none;
}

.sign {
    font-size: .5rem;
    margin-top: 2px;
    color: #858585;
}

.main {
    text-align: center;
    min-height: 80vh;
}

.title,
.auth {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.title-left {
    text-align: center;
}

.title-left a {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.title h1 {
    font-size: 2.5rem;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid currentColor;
}

.title span {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 2rem;
}

.button-index {
    font-size: 1rem;
    padding: .5rem 1.5rem;
    display: inline-block;
    border: 2px solid currentColor;
    min-width: 120px;
    text-align: center;
}

.button-index:hover,
.button-index:focus {
    color: rgb(142, 142, 142);
    border: 2px solid currentColor;
}

.footer {
    padding: 0 3rem;
}

.staff,
.time {
    text-align: center;
}

.staff {
    color: rgba(120, 120, 120, 1);
}

.staff a {
    color: #D1335B;
}

.staff a,
.input-control input,
.auth-submit,
.button-round,
.button-index,
input.checkbox {
    transition: all .3s;
}

.staff a:hover,
.staff a:focus {
    color: #13c2c2
}

.input-control input {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    outline: none;
}

.input-control input:focus {
    border-color: #adadad;
}

.auth-submit {
    border-radius: 3px;
    color: #D1335B;
    background: white;
    outline: none;
    border: 1px solid transparent;
    min-height: 46px;
    margin-top: 1rem;
    width: 32%;
}

.auth-submit:hover,
.auth-submit:focus {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}

.auth,
.user,
.pw {
    width: 100%;
}

.auth h1 {
    font-size: 3.5rem;
    margin-top: 0;
}
.auth h3 {
    margin: 0;
}

.page-auth,
.page-user,
.page-pw {
    text-align: center;
    position: relative;
}

.input-control {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.input-control-inner {
    flex-wrap: wrap;
    text-align: left;
}

.input-control>label,
.input-control>input,
.input-control>select {
    flex-basis: 80%;
    text-align: left;
}

.input-control-inner>label,
.input-control-inner>input {
    flex-basis: 100%;
}

.twin {
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
}

.twin>* {
    flex-basis: 100%%;
}

.input-control>input {
    margin-bottom: 1rem;
}

.reg {
    flex-wrap: wrap;
}

.reg .input-control {
    flex-basis: 100%;
}

input[name] {
    height: 46px;
}

select {
    color: black;
    height: 36px;
}

.button-round {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    color: white;
    opacity: .5;
}

.button-round:hover,
.button-round:focus {
    opacity: 1;
}

.icon-round {
    background: white;
    color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: .75rem;
}

.fa {
    position: relative;
}

.icon-round .fa-pencil {
    top: .25rem;
    left: .05rem
}

.icon-round .fa-plus {
    top: .35em;
}

.icon-round .fa-gear {
    top: .3rem;
}

#embed-captcha-reg {
    margin-top: 1em;
}

.title-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    user-select: none;
    z-index: -1;
    color: #2e2e2e;
    justify-content: center;
    font-weight: bolder;
}

.basis-max .input-control {
    width: 100%;
}

.basis-max .auth-submit {
    width: 80%;
}

#code_number,
.tg-timeout {
    padding: .6rem 1rem;
    width: 100%;
    font-size: 1.3em;
}

.tg-timeout {
    width: 80%;
}

.qr-center img {
    width: 70%;
    height: 70%;
    text-align: center;
}

@media screen and (min-width:35.5em) {
    .auth-sm a {
        min-width: 120px;
    }

    .footer {
        margin-top: 3rem;
    }

    .title-left a {
        margin-bottom: 0;
    }

    .logo-sm,
    .auth-sm {
        padding: 1rem 3rem;
        margin-top: .8rem;
    }

    .title h1 {
        font-size: 4rem;
    }

    .staff {
        text-align: left;
    }

    .time {
        text-align: right;
    }

    .auth-links {
        padding: 0;
    }

    .auth-links a {
        flex-basis: 100%;
    }

    .title-back {
        font-size: 8.5rem;
    }

    .auth>div:first-of-type {
        padding: 0 0 0 5%;
    }
}

@media screen and (min-width:48em) {
    .title h1 {
        font-size: 5rem;
    }

    #register {
        margin-top: 2rem;
    }

    .twin {
        justify-content: space-around;
        align-items: flex-end;
        padding: 0 2.5%;
    }

    .twin>* {
        flex-basis: 39%;
    }

    .input-control {
        width: 41%;
    }

    .reg .input-control {
        flex-basis: 48%;
    }
}

@media screen and (min-width:64em) {

    .title {
        width: 75%;
        padding-left: 5%;
    }

    .auth {
        width: 90%;
    }

    .title-back {
        font-size: 12rem;
    }

}

@media screen and (min-width:80em) {
    .title h1 {
        padding-right: 4rem;
    }

    .title-left {
        text-align: left;
    }

    .logo-bg .logo {
        display: unset;
        margin-left: 10rem;
    }

}

@media screen and (max-width:35.5em) {
    .hide-sm {
        display: none !important;
    }
}


/* 组件 */
/* messager */
.uim-messager {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    z-index: 10;
    padding: 7px 10px;
    color: black;
    background: white;
    width: 200px;
    min-height: 36px;
    box-shadow: 0px 0px 5px 1px gray;
}

.uim-messager span {
    margin-left: .6rem;
}

/* checkbox */
input[type=checkbox].uim-checkbox {
    width: 16px;
    height: 16px;
    opacity: 0;
    position: relative;
    bottom: .1rem;
}

.uim-check-content {
    font-size: .9rem;
    position: relative;
    left: .2rem;
    top: 1px;
}

.uim-checkbox-icon {
    position: absolute;
    bottom: 1px;
    font-size: 14px;
}

.uim-check {
    position: relative;
    top: 1px;
    height: 14px;
    width: 15px;
    background: aliceblue;
    transition: all .3s;
}

.uimchecked {
    background: #D1335B;
    box-shadow: 0 0 5px 1px gray;
}

/* loading 动画 */
.spinner {
    width: 60px;
    height: 60px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}