/* 空出一点内容 */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 除了jumbotron之外，除了移动的第一个视图之外，除了边距之外 */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* 自定义页眉 */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* 使标头标题与导航相同的高度 */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* 自定义页脚 */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* 自定义容器 */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* 主要营销信息和注册按钮 */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* 支持营销内容 */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* 响应：人像表和向上 */
@media screen and (min-width: 768px) {
  /* 删除我们设置的padding的填充r */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* 空出桅顶 */
  .header {
    margin-bottom: 30px;
  }
  /* 移除jumbotron的底部边框以获得视觉效果 */
  .jumbotron {
    border-bottom: 0;
  }
}
