/*粘贴页脚样式
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* 边缘底部由页脚高度 */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*在这里设置页脚的固定高度 */
  height: 60px;
  background-color: #f5f5f5;
}


/* 自定义页面CSS
-------------------------------------------------- */
/* 不需要模板或粘性页脚方法. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
