<?php

// 注释里请勿使用英文方括号、分号、单引号，否则迁移Config时可能会出现BUG

//config迁移附注（由开发者填写本次config迁移后需要注意的地方，站长勿动）
//如需换行，直接换行即可，无需换行符
$System_Config['config_migrate_notice']=
'daliy job不再包含自动备份，
自动备份改用crontab进行，以实现每隔20分钟备份一次之类的操作,
详情请看本wiki底部：
https://github.com/NimaQu/ss-panel-v3-mod_Uim/wiki/前端安装';
$System_Config['version']='0';	//仅当涉及【需要修改config以外的文件】时才需要+1


//基本设置-----------------------------------------------------------------------
$System_Config['key'] = '1145141919810';			// !!! 瞎 jb 修改此key为随机字符串确保网站安全 !!!
$System_Config['debug'] =  'false';  //  正式环境请确保为 false
$System_Config['appName'] = 'sspanel';             //站点名称
$System_Config['baseUrl'] = 'http://url.com';            // 站点地址
$System_Config['muKey'] = 'NimaQu';   //用于校验ss-go mu的请求，可以随意修改，但请保持前后端一致
$System_Config['db_driver'] = 'mysql';		//数据库程序
$System_Config['db_host'] = 'localhost'; //数据库地址
$System_Config['db_database'] = 'sspanel';			//数据库名
$System_Config['db_username'] = 'root';		//数据库用户名
$System_Config['db_password'] = 'sspanel';			//用户名对应的密码


//邮件设置-----------------------------------------------------------------------
$System_Config['mailDriver'] = 'mailgun';   // mailgun or smtp or sendgrid 选择发送邮件的方式

# mailgun
$System_Config['mailgun_key'] = '';
$System_Config['mailgun_domain'] = '';
$System_Config['mailgun_sender'] = '';

# smtp
$System_Config['smtp_host'] = '';
$System_Config['smtp_username'] = '';
$System_Config['smtp_port'] = '';
$System_Config['smtp_name'] = '';
$System_Config['smtp_sender'] = '';
$System_Config['smtp_passsword'] = '';
$System_Config['smtp_ssl'] = 'true';

# sendgrid
$System_Config['sendgrid_key'] = '';
$System_Config['sendgrid_sender'] = '';


//备份设置-----------------------------------------------------------------------
$System_Config['auto_backup_email']='';		//接收备份的邮箱
$System_Config['auto_backup_passwd']='';	//备份的压缩密码


//用户注册设置--------------------------------------------------------------------
$System_Config['defaultTraffic'] = '1';      				//用户初始流量 单位GB
$System_Config['user_expire_in_default']='3650';        	//用户账户过期时间，在注册时设置。（天）
$System_Config['user_class_default']='0';      				//用户注册等级，在注册时设置。
$System_Config['user_class_expire_default']='24';      		//用户等级过期时间，在注册时设置。（小时）
$System_Config['user_conn']='0';      						//用户注册客户端数量限制，0为不限制
$System_Config['user_speedlimit']='0';      				//用户注册速度默认限制，0为不限制
$System_Config['reg_auto_reset_day']='0';      				//注册时的流量重置日，0为不重置
$System_Config['reg_auto_reset_bandwidth']='0'; 			//需要重置的流量，0为不重置
$System_Config['ramdom_group']='0';      					//注册时随机分组，注册时随机分配到的分组，多个分组请用英文半角逗号分隔。
$System_Config['reg_method']='rc4-md5';      				//注册时默认加密方式
$System_Config['reg_protocol']='origin';      				//注册时默认协议
$System_Config['reg_protocol_param']='';      				//注册时默认协议参数
$System_Config['reg_obfs']='plain';      					//注册时默认混淆方式
$System_Config['reg_obfs_param']='';      					//注册时默认混淆参数
$System_Config['reg_forbidden_ip']='127.0.0.0/8,::1/128';   //注册时默认禁止访问IP列表，半角英文逗号分割
$System_Config['min_port']='10000';      					//用户端口池最小值
$System_Config['max_port']='65535';      					//用户端口池最大值
$System_Config['reg_forbidden_port']='';      				//注册时默认禁止访问端口列表，半角英文逗号分割，支持端口段
$System_Config['mu_suffix']='microsoft.com';     			//单端口多用户混淆参数后缀，可以随意修改，但请保持前后端一致
$System_Config['mu_regex']='%5m%id.%suffix';      			//单端口多用户混淆参数表达式，%5m代表取用户特征 md5 的前五位，%id 代表用户id,%suffix 代表上面这个后缀。

#邀请链接
$System_Config['enable_invite_code']='false';   			//是否强制开启邀请，为true则注册必须使用邀请链接，且邀请人等级为0时邀请链接不可用
$System_Config['inviteNum'] = '10';      					//注册后的邀请链接可用次数
$System_Config['invite_get_money']='1';      				//新用户通过私人邀请链接注册时，获得奖励金额（作为初始资金）
$System_Config['invite_price']='-1';    					//用户购买邀请码所需要的价格，价格小于0时视为不开放购买

#邮箱验证
$System_Config['enable_email_verify']='false';      		//是否启用注册邮箱验证码
$System_Config['email_verify_ttl']='3600';      			//邮箱验证码有效期
$System_Config['email_verify_iplimit']='10';      			//单IP可请求验证码次数（上面那个周期内）


//已注册用户设置------------------------------------------------------------------
#基础
$System_Config['checkinMin'] = '1';       					//用户签到签到最少流量 单位MB
$System_Config['checkinMax'] = '50';       					//用户签到签到最多流量
$System_Config['code_payback']='20';      					//充值返利百分比
$System_Config['invite_gift']='2';      					//邀请新用户获得流量奖励，单位G
$System_Config['enable_bought_reset']='true';      			//购买时是否重置流量
$System_Config['enable_auto_clean_uncheck']='false';      	//没签到的0级用户自动清理开关
$System_Config['enable_auto_clean_uncheck_days']='7';      	//自动清理多少天没签到的0级用户
$System_Config['auto_clean_min_money']='1';      			//自动清理时余额低于多少的0级用户会被清理
$System_Config['enable_auto_clean_unused']='false';      	//未使用的0级用户自动清理开关
$System_Config['enable_auto_clean_unused_days']='30';		//自动清理多少天没使用的0级用户
$System_Config['port_price']='-1';    						//用户随机重置端口所需要的价格，价格小于0时视为不开放购买
$System_Config['port_price_specify']='-1';    				//用户指明钦定端口所需要的价格，价格小于0时视为不开放购买

#高级
$System_Config['enable_donate']='false';      				//是否开启用户捐赠功能（所有收入将被公开）
$System_Config['enable_class_expire_reset']='true';      	//等级到期时是否重置流量
$System_Config['enable_class_expire_reset_traffic']='0';    //等级到期时重置为的流量值，GB
$System_Config['enable_account_expire_reset']='true';      	//账户到期时是否重置流量
$System_Config['enable_account_expire_reset_traffic']='0';  //账户到期时重置为的流量值，GB
$System_Config['enable_account_expire_delete']='true';      //账户到期之后是否会删除账户
$System_Config['enable_account_expire_delete_days']='7';    //账户到期几天之后会删除账户
$System_Config['enable_kill']='true';      					//是否允许用户注销账户


//Telegram bot设置--------------------------------------------------------------
$System_Config['enable_telegram']='false';      	//是否开启Telegram bot
$System_Config['telegram_token']='';      			//Telegram bot,bot 的 token ，跟 father bot 申请
$System_Config['telegram_chatid']='';      			//Telegram bot,群组会话 ID,把机器人拉进群里之后跟他 /ping 一下即可得到。
$System_Config['enable_tuling']='false';      		//是否开启图灵机器人
$System_Config['tuling_apikey']='';     			//图灵机器人API Key
$System_Config['tuling_apisecert']='';      		//图灵机器人密钥
$System_Config['telegram_bot']='_bot';      		//Telegram 机器人账号
$System_Config['telegram_group_quiet']='false'; 	//Telegram 机器人在群组中不回应
$System_Config['telegram_qrcode']='zxing_local';	//二维码解码方式，online，phpzbar，zxing_online，zxing_local
$System_Config['telegram_request_token']='';      	//Telegram 机器人请求Key，随意设置，由大小写英文和数字组成
													//复杂一些，用于校验请求，更新这个参数之后请 php xcat setTelegram

//沟通设置--------------------------------------------------------------------
#客服系统设置，注册地址 https://crisp.chat/
$System_Config['enable_crisp']='false';      				//是否开启客服系统
$System_Config['crisp_id']='null';      	 				//客服系统ID ID查看路径：crisp.chat-->设置-->网站设置-->显示整合-->html

#工单系统设置
$System_Config['enable_ticket']='true';    	 				//是否开启工单系统

#站长联系方式设置
$System_Config['enable_admin_contact']='false';    			//是否开启站长联系方式
$System_Config['admin_contact1'] = 'QQ：1233456';			//QQ、邮箱、微信仅用于举例
$System_Config['admin_contact2'] = '邮箱123456@qq.com';		//也可以写电话、tg等其他联系方式
$System_Config['admin_contact3'] = '微信～123456';			//没有格式要求，想怎么写就怎么写，可留空


//验证码设置---------------------------------------------------------------------
#自己去 Geetest.com 申请
$System_Config['geetest_id']='';
$System_Config['geetest_key']='';
$System_Config['enable_geetest_reg']='false';      		//启用注册验证码
$System_Config['enable_geetest_login']='false';      	//启用登录验证码
$System_Config['enable_geetest_checkin']='false';       //启用签到验证码


//支付系统设置--------------------------------------------------------------------
#取值 codepay,doiampay,paymentwall,zfbjk,spay,f2fpay,yftpay,none,f2fpay_codepay
$System_Config['payment_system']='none';

#codepay码支付
#wiki地址:https://goo.gl/dRwRDi  http://t.cn/RnsWjtB
$System_Config['codepay_id']='';       //码支付ID
$System_Config['codepay_key']='';      //码支付通信密钥

#doiampay,https://www.daimiyun.cn/register.php?aff=624
$System_Config['doiampay']=[
    'enabled' => [
        'wepay'=>1,   // 微信支付1 启用 0 关闭
        'alipay'=>1,  // 支付宝1 启用 0 关闭
        'qqpay'=>1,   // QQ支付1 启用 0 关闭
    ],
    'mchdata' => [
        'wepay'=>[
            'mchid' => 188888888,   // 商户号
            'phone' => 18888888888, //手机号
            'token' => "example"    //安全验证码
        ],
        'alipay'=>[
            'mchid' => 188888888,   // 商户号
            'phone' => 188888888,   //手机号
            'token' => "188888888"  // 安全验证码
        ],
        'qqpay'=>[
            'mchid' => 188888888,   // 商户号
            'phone' => 188888888,   //手机号
            'token' => "188888888"  // 安全验证码
        ],
    ]
];

#alipay,f2fpay
$System_Config['f2fpay_app_id']='';
$System_Config['f2fpay_p_id']='';
$System_Config['alipay_public_key']='';
$System_Config['merchant_private_key']='';

#PaymentWall
$System_Config['pmw_publickey']='';
$System_Config['pmw_privatekey']='';
$System_Config['pmw_widget']='m2_1';
$System_Config['pmw_height']='350px';

#alipay,spay
$System_Config['alipay_id']='';
$System_Config['alipay_key']='';
$System_Config['amount']=[2,23,233,2333,23333];  //充值金额选项设定

#yftpay,https://pay.anypay.me/
$System_Config['yft_secret']='';
$System_Config['yft_accesskey']='';

#alipay,zfbjk.com
$System_Config['zfbjk_pid']='';
$System_Config['zfbjk_key']='';
$System_Config['zfbjk_qrcodeurl']='';


//财务报告设置
$System_Config['finance_public']='false';    	//财务报告是否向Telegram群公开


//国旗图标显示
$System_Config['enable_flag']='false';    		//启用该项之前务必先仔细阅读教程
$System_Config['flag_regex']='/.*?(?=\s)/';     //从站点全名中匹配国家/地区的正则表达式(php版)

//节点被墙检测
$System_Config['enable_detect_gfw']='false';
$System_Config['detect_gfw_interval']='3600';		//检测间隔，单位：秒，低于推荐值会爆炸
$System_Config['detect_gfw_port']='22';			//所有节点服务器都打开的TCP端口，常用的为22（SSH端口）
$System_Config['detect_gfw_url']='https://cn-qz-tcping.torch.njs.app/{ip}/{port}';		//检测节点是否被gfw墙了的API的URL
$System_Config['detect_gfw_count']='3';		//尝试次数

//高级设置（一般不用改，反正估计也看不懂-------------------------------------------------------------
##杂项
$System_Config['enable_login_bind_ip']='false';     //是否将登陆线程和IP绑定
$System_Config['authDriver'] = 'cookie';   			//不能更改此项
$System_Config['salt'] = '';               			// 密码加密用，请留空
$System_Config['sessionDriver'] = 'cookie'; 		//  可选: cookie,redis
$System_Config['cacheDriver'] = 'cookie';   		//  可选: cookie,redis
$System_Config['tokenDriver'] = 'db';   			//  可选: db,redis
$System_Config['jump_delay']='1200';  				//跳转延时,ms 1000ms=1s 不建议太长
$System_Config['theme']    = 'material';   			// 主题
$System_Config['pacp_offset']='-20000';      		//VPN 端口偏移
$System_Config['pacpp_offset']='-20000';
$System_Config['Speedtest_duration']='6';      		//显示多长时间的测速记录
$System_Config['node_offline_warn']='true';      	//节点离线设置
$System_Config['login_warn']='false';      			//异地登陆提示
$System_Config['timeZone'] = 'PRC';        			// PRC 天朝时间  UTC 格林时间
$System_Config['pwdMethod'] = 'sha256';       		// 密码加密   可选 md5,sha256
$System_Config['db_charset'] = 'utf8';
$System_Config['db_collation'] = 'utf8_general_ci';
$System_Config['db_prefix'] = '';


# aws
$System_Config['aws_access_key_id'] = '';
$System_Config['aws_secret_access_key'] = '';

# redis
$System_Config['redis_scheme'] = 'tcp';
$System_Config['redis_host'] = '127.0.0.1';
$System_Config['redis_port'] = '6379';
$System_Config['redis_database'] = '0';
$System_Config['redis_password']="";

#Radius设置
$System_Config['enable_radius']='false';    		//是否开启Radius
$System_Config['radius_db_host']='';      			//以下4项为Radius数据库设置
$System_Config['radius_db_database']='';
$System_Config['radius_db_user']='';
$System_Config['radius_db_password']='';
$System_Config['radius_secret']='';      			//Radius连接密钥

#多说设置
$System_Config['enable_duoshuo']='false';      		//是否开启多说
$System_Config['duoshuo_shortname']="";
$System_Config['duoshuo_apptoken']="";

#Wecenter设置
$System_Config['enable_wecenter']='false';      	//是否开启Wecenter
$System_Config['wecenter_db_host']='localhost';     //以下4项为Wecenter数据库设置
$System_Config['wecenter_db_database']='';
$System_Config['wecenter_db_user']='';
$System_Config['wecenter_db_password']='';
$System_Config['wecenter_system_main_domain']='';   //系统根域名 zhaoj.in 这样
$System_Config['wecenter_cookie_prefix']='mmg_';    //G_COOKIE_PREFIX
$System_Config['wecenter_cookie_key']='';      		//G_COOKIE_HASH_KEY
$System_Config['wecenter_url']='';      			//访问路径，不开启这个功能的话就清空这个设置项吧
													//可从安装好的 wecenter 目录下的 system/config.inc.php 得到
#Cloudxns
$System_Config['enable_cloudxns']='false';      	//是否开启Cloudxns
$System_Config['cloudxns_apikey']='';      			//自己去 cloudxns.net 申请
$System_Config['cloudxns_apisecret']='';
$System_Config['cloudxns_domain']='zhaoj.in';      	//你的域名

#不安全中转模式，这个开启之后使用除了 auth_aes128_md5 或者 auth_aes128_sha1 以外的协议地用户也可以设置和使用中转，但是，强烈推荐不开启。
$System_Config['relay_insecure_mode']='false';		//默认关闭不安全中转

#是否夹带统计代码，自己在 resources/views/{主题名} 下创建一个 analytics.tpl ，如果有必要就用 literal 界定符
$System_Config['enable_analytics_code']='false';


$System_Config['v2ray_port']='443';
$System_Config['v2ray_protocol']='HTTP/2 + TLS';
$System_Config['v2ray_alter_id']='32';
$System_Config['v2ray_level']='0';

#在套了CDN之后获取用户真实ip，如果您不知道这是什么，请不要乱动

if ( isset($_SERVER["HTTP_X_FORWARDED_FOR"]) ) {

$list = explode("," , $_SERVER["HTTP_X_FORWARDED_FOR"]);

$_SERVER["REMOTE_ADDR"] = $list[0];

}
