.pure-g {
    align-content: unset;
    -webkit-align-content: unset;
    -ms-flex-line-pack: unset;
}

body {
    background-color: #1D1D1D;
    color: white;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}

.space-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-red {
    color: #D1335B;
}

.relative {
    position: relative;
}

[v-cloak] {
    display: none;
}

.margin-nobottom {
    margin-bottom: 0 !important;
}

.nav,
.main,
.footer {
    flex-basis: 100%;
}

.loading {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 4rem;
}

.button-round.active {
    opacity: 1;
}

.logo-sm,
.auth-sm {
    padding: 1rem 1rem;
}

.auth-sm {
    text-align: right;
    justify-content: flex-end;
}

.auth-sm a {
    min-width: 80px;
}

.logo-sm .logo {
    height: 48px;
}

.logo {
    border-radius: 50%;
}

.logo-sm>a {
    align-items: center;
}

.logo-sm .logo {
    margin-right: .5rem;
}

.logo-bg .logo {
    height: 160px;
    display: none;
}

.sign {
    font-size: .5rem;
    margin-top: 2px;
    color: #858585;
}

.main {
    text-align: center;
    min-height: 80vh;
    padding: 1.5rem 0 2.5rem 0;
}

.title,
.auth {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.title-left {
    text-align: center;
}

.title-left a {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.title h1 {
    font-size: 2.5rem;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid currentColor;
}

.title span {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 2rem;
}

.button-index {
    font-size: 1rem;
    padding: .5rem 1.5rem;
    display: inline-block;
    border: 2px solid currentColor;
    min-width: 120px;
    text-align: center;
}

.button-index:hover,
.button-index:focus {
    color: rgb(142, 142, 142);
    border: 2px solid currentColor;
}

a.btn-user,
button.btn-user {
    font-size: 1rem;
    padding: .5rem .5rem;
    display: inline-block;
    border: 1px solid #434857;
    min-width: 80px;
    text-align: center;
    transition: all .3s;
    background: inherit;
    outline: none;
}

a.btn-user:hover,
button.btn-user:hover,
button.btn-user.index-btn-active {
    border: 1px solid white;
    box-shadow: 0 0 5px 1px gray;
}

.footer {
    padding: 0 3rem;
}

.staff,
.time {
    text-align: center;
}

.staff {
    color: rgba(120, 120, 120, 1);
}

.staff a {
    color: #D1335B;
}

.card,
.tips,
.btn-inline,
.btn-forinput,
.staff a,
.input-control input,
.auth-submit,
.button-round,
.button-index,
input.checkbox,
.buy-submit,
.font-light,
.list-shop,
.user-config {
    transition: all .3s;
}

.staff a:hover,
.staff a:focus {
    color: #13c2c2
}

.input-control input {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    outline: none;
}

.input-control input:focus {
    border-color: #adadad;
}

.auth-submit,
.buy-submit {
    border-radius: 3px;
    color: #D1335B;
    background: white;
    outline: none;
    border: 1px solid transparent;
    min-height: 46px;
    margin-top: 1rem;
    width: 81%;
}

.buy-submit {
    min-height: unset;
    width: unset;
    margin: 0;
    font-size: 16px;
    padding: .05rem .5rem .2rem .5rem;
    width: 48%;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #D1335B;
}

.buy-submit:hover,
.buy-submit:focus {
    background-color: #D1335B;
    color: white;
}

.auth-submit:hover,
.auth-submit:focus {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}

.buy-submit:disabled,
button.tips:disabled {
    color: #858585;
    border-color: #858585;
    cursor: not-allowed;
    background-color: transparent;
}

.auth,
.user,
.pw {
    width: 100%;
}

.user {
    padding: 0 .5rem;
}

.auth h1 {
    font-size: 3.5rem;
    margin-top: 0;
}

.auth h3 {
    margin: 0;
}

.page-auth,
.page-user,
.page-pw {
    text-align: center;
    position: relative;
}

.page-auth {
    min-height: 450px;
}

.input-control {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.input-control-inner {
    flex-wrap: wrap;
    text-align: left;
}

.input-control>label,
.input-control>input,
.input-control>select {
    flex-basis: 80%;
    text-align: left;
}

.input-control-inner>label,
.input-control-inner>input {
    flex-basis: 100%;
}

.twin {
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
}

.twin>* {
    flex-basis: 100%;
}

.input-control>input,
.input-control-inner>input,
.input-control>button {
    margin-bottom: 1.5rem;
}

.reg {
    flex-wrap: wrap;
}

.reg .input-control {
    flex-basis: 100%;
}

input[name] {
    height: 46px;
}

select {
    color: black;
    height: 36px;
}

.button-round {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    opacity: .5;
}

.button-round .fa-inverse {
    color: black;
}

.button-round .fa-stack {
    margin-right: .4rem;
}

.button-round:hover,
.button-round:focus {
    opacity: 1;
}

.icon-round {
    background: white;
    color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: .75rem;
    line-height: 2rem;
    padding-left: .1rem;
}

#embed-captcha-reg {
    margin-top: 1em;
}

.title-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    user-select: none;
    z-index: -1;
    color: #2e2e2e;
    justify-content: center;
    font-weight: bolder;
    word-break: break-all;
}

.basis-max .input-control {
    width: 100%;
}

.basis-max .auth-submit {
    width: 80%;
}

#code_number,
.tg-timeout {
    padding: .6rem 1rem;
    width: 100%;
    font-size: 1.3em;
}

.auth-submit.tg-timeout {
    width: 80%;
}

.qr-center img {
    width: 70%;
    height: 70%;
    text-align: center;
}

#register {
    margin-top: 2rem;
}

#embed-captcha-reg {
    min-height: 44px;
}

#embed-captcha-reg .geetest_btn {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

#embed-captcha-login {
    margin-top: 1rem;
}

.auth-tg {
    margin-top: 2rem;
}

.auth-tg p {
    padding: 0 2rem;
}

.auth-tg p a {
    color: #D1335B;
}

.card {
    border: 1px solid #434857;
    margin-bottom: 1.5rem;
}

.card .card,
.card .card:hover {
    border: 0;
}

.user-btngroup {
    margin-bottom: 1.5rem;
}

.user-btngroup a,
.user-btngroup button {
    min-width: 120px;
}

.user-btngroup .btngroup-left>*,
.user-btngroup .btngroup-right>* {
    margin-top: .75rem;
}

.user-btngroup .btngroup-left>*:first-child,
.user-btngroup .btngroup-right>*:first-child {
    margin-top: 0;
}

.card:hover,
.list-shop:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px 1px gray;
}

.card-title {
    font-size: 18px;
    margin-bottom: .5rem;
}

.card-body,
.card-title {
    padding: 1rem;
}

.card-body {
    padding-top: 0;
}

.font-light {
    padding-right: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #b1b3bb;
    margin: .75rem 0;
    white-space: nowrap;
}

.font-light:hover {
    color: white;
}

.tips {
    display: inline-block;
    margin: 0;
    padding: .2rem .7rem;
    border: 1px solid;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
}

.tips-sm {
    font-size: 12px;
    padding: .1rem .5rem;
}

.tips-blue {
    color: #1997c6;
    border-color: #1997c6;
}

.tips-gold {
    color: #faad14;
    border-color: #faad14;
}

.tips-gold-trans.tips-gold {
    color: white;
    background-color: #faad14;
}

.tips-green {
    color: #52c41a;
    border-color: #52c41a;
}

.tips-cyan {
    color: #13c2c2;
    border-color: #13c2c2;
}

.tips-red {
    color: #D1335B;
    border-color: #D1335B;
}

.font-red-trans {
    color: #D1335B;
}

.font-gold-trans {
    color: #faad14;
}

.font-green-trans {
    color: #52c41a;
}

button.tips {
    background-color: transparent;
}

.tips-blue:hover,
.tips-gold:hover,
.tips-green:hover,
.tips-cyan:hover,
.tips-red:hover {
    color: white;
}

.tips-blue:hover {
    background-color: #1997c6;
}

.tips-gold:hover {
    background-color: #faad14;
}

.tips-green:hover {
    background-color: #52c41a;
}

.tips-cyan:hover {
    background-color: #13c2c2;
}

.tips-red:hover {
    background-color: #D1335B;
}

.ann,
.user-guide {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: .1rem 1rem;
}

.user-guide {
    height: 385px;
    overflow: auto;
}

.user-guide input {
    background: transparent;
    height: unset;
    display: block;
}

.ann a {
    color: #D1335B;
}

.card-title-right {
    padding-right: 1rem;
}

.dl-link {
    width: 100%;
}

.dl-link button {
    font-size: 14px;
}

.input-copy,
.input-copy>input {
    width: 100%;
}

.input-copy input {
    height: unset;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.input-copy>div,
.input-copy input {
    margin-bottom: .7rem;
}

.input-copy div input {
    margin-bottom: 0;
}

.user-invite input,
.user-charge input,
.btn-inline {
    background: rgba(255, 255, 255, 0);
}

.btn-inline {
    border: 1px solid #D1335B;
    color: #D1335B;
    border-radius: 3px;
    font-size: 14px;
    padding: .3rem .8rem;
}

.btn-inline:hover {
    background: #D1335B;
    color: white;
}

.invite-link {
    width: 100%;
    cursor: pointer;
}

.user-invite-title .uim-tooltip {
    width: 100%;
}

.user-invite-title .uim-tooltip button {
    border: 0;
}

.user-invite-title .btn-user {
    margin-right: 1rem;
}

.list-shop {
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #434857;
    margin-bottom: .7rem;
    width: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.list-shop div:first-of-type .tips {
    margin-left: .3rem;
}

.coupon-checker {
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 .5rem;
    margin-bottom: .5rem;
}

.coupon-checker:hover,
.coupon-checker,
.btn-forinput {
    background-color: rgba(255, 255, 255, 0);
}

.btn-forinput {
    color: #1997c6;
    border: none;
    outline: none;
    position: absolute;
    top: .3rem;
    font-size: 14px;
    z-index: 1;
}

.btn-forinput:hover {
    color: white;
}

button[name=check] {
    right: 1.5rem;
}

button[name=reset] {
    right: .2rem;
}

.order-checker-content {
    margin: .5rem 0
}

.link-reset button {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

.link-reset .uim-tooltip-top {
    width: 100%;
    background-color: white;
    color: #434857;
}

.link-reset .uim-tooltip-top button {
    border: 0;
}

.sublink {
    font-size: 14px;
    padding: 0 1rem;
    word-break: break-all;
}

.sublink-reset.tips-blue,
.invite-reset.tips-blue {
    background-color: #1997c6;
    color: white;
}

.btn-anchor {
    display: inline-block;
    border: 1px solid gray;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    margin-right: .3rem;
}

@media screen and (min-width:35.5em) {
    .user {
        padding: 0;
    }

    .auth-tg {
        margin-top: 0;
    }

    .auth-sm a {
        min-width: 120px;
    }

    .footer {
        margin-top: 3rem;
        padding-bottom: 1rem;
    }

    .title-left a {
        margin-bottom: 0;
    }

    .logo-sm,
    .auth-sm {
        padding: 1rem 3rem;
        margin-top: .8rem;
    }

    .title h1 {
        font-size: 4rem;
    }

    .auth-submit {
        width: 32%;
    }

    .auth-links {
        padding: 0;
    }

    .auth-links a {
        flex-basis: 100%;
    }

    .title-back {
        font-size: 8.5rem;
    }

    .auth>div:first-of-type {
        padding: 0 0 0 5%;
    }

    .usrcenter {
        padding: 0 10%;
    }

    .enableCrisp {
        padding-right: 3rem;
    }

    .ann,
    .user-shop,
    .user-guide {
        max-height: 385px;
        overflow: auto;
    }

    a.btn-user,
    button.btn-user {
        padding: .5rem .5rem;
    }

    .user-invite {
        max-height: 385px;
    }

    .user-guide {
        height: 385px;
    }

    .link-reset .uim-tooltip-top {
        width: 230px;
    }

    .list-shop {
        width: 95%;
    }

    .invite-link {
        width: 450px;
    }

    .margin-nobottom-sm {
        margin-bottom: 0 !important;
    }

    .user-btngroup .btngroup-left>*,
    .user-btngroup .btngroup-right>* {
        margin-right: .75rem;
        margin-top: 0;
    }

    .user-btngroup .btngroup-left>*:last-child,
    .user-btngroup .btngroup-right>*:last-child {
        margin-right: 0;
    }

    .user-table-container {
        overflow: auto;
        max-height: 355px;
    }

    .btn-forinput {
        top: 0.25rem;
    }
}

@media screen and (min-width:48em) {
    .title h1 {
        font-size: 5rem;
    }

    .twin {
        justify-content: space-around;
        align-items: flex-end;
        padding: 0 2.5%;
    }

    .twin>* {
        flex-basis: 39%;
    }

    .input-control {
        width: 41%;
    }

    .reg .input-control {
        flex-basis: 48%;
    }
}

@media screen and (min-width:64em) {

    .title {
        width: 75%;
        padding-left: 5%;
    }

    .auth {
        width: 90%;
    }

    .title-back {
        font-size: 12rem;
    }

}

@media screen and (min-width:80em) {
    .title h1 {
        padding-right: 4rem;
    }

    .title-left {
        text-align: left;
    }

    .logo-bg .logo {
        display: unset;
        margin-left: 10rem;
    }

    .staff {
        text-align: left;
    }

    .time {
        text-align: right;
    }
}

@media screen and (max-width:35.5em) {
    .hide-sm {
        display: none !important;
    }

    .margin-nobottom-sm {
        margin-bottom: 0 !important;
    }
}

@media screen and (min-width:80em) {
    .margin-nobottom-xl {
        margin-bottom: 0 !important;
    }
}



/* loading 动画 */
.spinner {
    width: 60px;
    height: 60px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.spinnercube {
    margin: 100px auto;
    width: 32px;
    height: 32px;
    position: relative;
    transition: all .3s;
}

.cube1,
.cube2 {
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}